<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>An Error Occurred: {{ status_text }}</title>
  </head>
  <body>
    <h1>La on a 1 galere !!!!</h1>

    <div>
      SA BUGGG !!
    </div>
  </body>
</html>