<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Erreur: {{ status_text }}</title>
  </head>
  <body>
    <h1>Oops! Il y a Une Erreur !!</h1>
    <h2>Le Serveur retourne: "{{ status_code }} {{ status_text }}".</h2>

    <div>
      Il y a un bug... Sa arrive !</br>
      Contactez nous <a href="mailto:thegoodloc@gmaiL.com">ici</a> et signalez nous l'erreur svp,</br >
      nous ferons le necessaire pour reparer cela, desoel pour le desagrément</br >
      Merci !</br >
      L'equipe The GoOd LoC</br >
      <a href="www.thegoodloc.fr">retour au site</a>
    </div>
  </body>
</html>
