{% extends "FOSUserBundle::layout.html.twig" %}
<p> <div class="jumbotron">
      <h1 class="text-center">GOOD LOC VTC</h1>
      <p class="text-center">
        Ce site à pour but de faciliter la location de vehicule apte aux metiers de VTC.
        <br />
      </p>
  </div>
  <div class="text-center">

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
<p>{{ 'resetting.password_already_requested'|trans }}</p>
{% endblock fos_user_content %}
</div>
