{% trans_default_domain 'FOSUserBundle' %}
<p> <div class="jumbotron">
      <h1 class="text-center">GOOD LOC VTC</h1>
      <p class="text-center">
        Ce site à pour but de faciliter la location de vehicule apte aux metiers de VTC.
        <br />
      </p>
  </div>
  <div class="text-center">
{{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
    {{ form_widget(form) }}
    <div>
    	<button type="submit" class="btn btn-success" value="{{ 'change_password.submit'|trans }}" />Modifier le mot de passe</button>
  
    </div>
{{ form_end(form) }}
</div>