
<div>
      <h1>Location de Vehicule Pour VTC</h1>
      <p>
        Ce site à pour but de faciliter la location de vehicule apte aux metiers de VTC.
        <br />
      </p>
        <h3><a href="thegoodloc.fr">The GoOD LoC</a></h3>
    </div>



<div>
Bonjour , </br ></br >

{{ nom }} vous à envoyé une annonce posté sur le site <a href="thegoodloc.fr">The GoOD LoC</a></br ></br >
</div>
<p>
<a href="{{ path('vtc_platform_view', {'id': advert.id}) }}"> voir l'annonce </a> </br ></br >
</p>
<p>

à bientôt,</br >
L'equipe The GoOd LoC 
</p>