{% block field_errors %}
{% spaceless %}

{% if errors|length > 0 %}

<ul class="error_list">

{% for error in errors %}

<li>{{ error.messageTemplate|trans(error.messageParameters, 'validators') }}</li>

{% endfor %}
08
</ul>

{% endif %}

{% endspaceless %}

{% endblock field_errors %}
