
{% extends "::layout.html.twig" %}

{# src/VTC/PlatformBundle/Resources/views/Advert/add.html.twig #}



{% block body %}
  <div class="container">
    <div class="row">
 {# On définit un sous-titre commun à toutes les pages du bundle, par exemple #}
  <h2 class="center-align"><span style="color:#9ccc65;">|</span> Ajouter une annonce</h2>

{% if ( is_granted('ROLE_USER')) %}
<h6><i style="color:#9ccc65;" class="material-icons">announcement</i>  Vous êtes connecté en tant que {{ app.user.username }}</h6>
    </br>
    {% include "VTCAnnonceBundle:Advert:form.html.twig" %}

{% endif %}

  <p class="center-align">
    <i style="color:#9ccc65;" class="material-icons">announcement</i> Attention : En postant votre annonce vous acceptez les conditions generales du site.
  </p>
</div>
</div>
{% endblock %}

