{% extends "VTCAnnonceBundle::layout.html.twig" %}
{% block title %}
  Suppression de votre compte - {{ parent() }}
{% endblock %}

{% block ocplatform_body %}

  <h2>Supprimer votre compte</h2>

  <p>
    Etes-vous certain de vouloir supprimer votre compte "{{ user.username }}" ?
  </p>


  <form action="{{ path('vtc_platform_deleteuser', {'id': user.id}) }}" method="post">
    

    <input type="submit" value="Supprimer" class="btn btn-danger" />
   
    {{ form_rest(form) }}
    
  </form>

{% endblock %}